/* Importar fuente moderna */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

header {
    background: linear-gradient(135deg, #0077b6, #00b4d8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img {
    max-width: 150px;
    margin-top: 10px;
}

h1 {
    color: white;
    font-weight: 600;
    margin-top: 20px;
}

h2 {
    color: #0096c7;
    margin-top: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}


h3 {
    color: #0096c7;
    margin-top: 15px;
}

p {
    margin: 10px 0;
    font-size: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espacio entre imágenes */
    margin-top: 20px;
}

.images a {
    display: flex; /* Asegura que el enlace no afecte la distribución */
}

/* Enlaces */
a {
    color: #0077b6;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

a:hover {
    color: #00b4d8;
    text-decoration: underline;
}

.f23 {
    max-width: 180px;
    height: auto;
}
/* Estilo para el video */
video {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsividad */
@media (max-width: 768px) {
    header {
        text-align: center;
        padding: 15px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
        padding: 0 10px;
    }
}
